#barrier {
  height: 7em;
  width: 120em;
  z-index: -5;
  left: 0px;
  right: 0px;
  bottom: -0.5em;
  position: fixed;
  background-image: url('../assets/barrier.svg');
  background-repeat: repeat-x;
}

#barrier-day {
  z-index: 2;
  height: 7em;
  width: 120em;
  left: 0px;
  right: 0px;
  bottom: -0.5em;
  position: fixed;
  background-image: url('../assets/barrier.svg');
  background-repeat: repeat-x;
}
