.ddcontainer .dragged-card {
    box-shadow: 0 10px 25px rgba(8, 158, 3, 0.616);
}

.game-card {
    background-image: url('../assets/card.svg');
    background-repeat: no-repeat;
    width: 12.8em;
    height: 14em;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-card-top {
    min-height: 7em;
    padding: 1em;
}

.game-card-content {
    min-height: 7em;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

#game-card-hand {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0em;
}

.empty-card-hand {
    min-height: 14em;
    border: 1px dashed wheat;
    max-width: 50em;
    margin: 0 auto;
    padding-top: 6em;
    color: wheat;
}

.game-card-static {
    filter: grayscale(60%) brightness(0.6);
}

.game-card-passive {
    color: #220055;
}

@media (max-width: 740px) {
    #game-card-hand .ddcontainer:active {
        box-shadow: 0 10px 25px rgba(126, 255, 245, 0.7);
        z-index: 20;
        transform: scale(1.1);
    }
    #game-card-hand .ddcontainer:nth-child(1) {
        margin-right: -9.5em;
    }
    #game-card-hand .ddcontainer:nth-child(3) {
        margin-left: -9.5em;
    }
}

@media (min-width: 741px) {

    .ddcontainer:hover {
        box-shadow: 0 10px 25px rgba(126, 255, 245, 0.7);
    }
}