@charset "utf-8";
#info {
    text-align: center;
    font-size: 3em;
    margin-top: 2em;
}

.loading-spinner {
    margin: 0 auto;
    margin-top: 10em;
}

.vertical-space {
    height: 3em;
}

#death-title {
    font-size: 5em;
    margin-top: 1em;
    background-color: black;
    padding-top: 0.2em;
    box-shadow: 0 0 50px 40px #000;
    border-radius: 20em;
}