#title-lang-button {
    width: 12em;
    margin-top: 0;
}

#title-shadow {
    text-align: center;
    font-size: 6em;
}

#title-hiverdun {
    text-align: center;
    font-size: 10em;
    color: '#000000';
}

#title-server-status {
    font-size: 2.3em;
    margin-top: 0.5em;
    margin-bottom: 0;
}