@charset "utf-8";

@font-face {
  font-family: 'belisa_plumilla';
  src: url('fonts/belisa_plumilla.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../node_modules/bulma/sass/utilities/initial-variables';

$body-background-color: #3d3d3d;
$dark: #7f8fa6;
$danger: #ed4c67;
$turquoise: #7efff5;
$white-ter: #f7f1e3;
$body-color: $white-ter;
$navbar-background-color: transparent;
$family-primary: 'Roboto';
$footer-background-color: transparent;

.belisa {
  font-family: 'belisa_plumilla';
}

#App {
  height: 100vh;
}

@import '../node_modules/bulma/bulma.sass';