/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 3em;
  height: 3em;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 3em !important;
  width: 3em !important;
}

/* Color/shape of close button cross */
/*.bm-cross {
  
}*/


/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #4B4B4B;
  padding: 1em 0 0 0.4em;
  font-size: 2.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #4B4B4B;
}

/* Wrapper for item list */
.bm-item-list {
  color: #F7F1E3;
  padding-top: 1em;
  padding-left: 0.2em;
  width: 250px;
  overflow-y: auto;
}

/* Individual item */
.bm-item {
  margin-bottom: 1em;
  width: 100%;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}