#skip-intro-button {
    position: fixed;
    right: 2em;
}

#intro-hiverdun-text {
    color: darkcyan;
}

.intro-text {
    font-size: 3em;
    margin-top: 2em;
}

.footer {
    position: fixed;
    bottom: 0;
}