@charset "utf-8";
@import '../../../_sass/ribbon.scss';
.circle {
    font-size: 2.3em;
}

.loading {
    float: ceil($number: 0);
    margin: 0 auto;
    margin-top: -5.6em;
}

#cancel-button {
    margin-left: 0.5em;
}