.night-background {
  background-color: #111111;
  height: 100vh;
}

.dawn-background {
  background-color: #150236;
  height: 100vh;
}

.day-background {
  background-color: rgb(91, 125, 158);
  height: 100vh;
}

.night-text {
  margin-top: 12em;
}

@media (max-width: 740px) {
  #night-title {
    font-size: 4em;
    color: #57606F;
    margin-bottom: 1em;
  }

  #dawn-title {
    font-size: 4em;
    color: rgb(161, 154, 142);
    margin-bottom: 1em;
    margin-top: 2em;
  }

  #night-moon {
    font-size: 15em;
  }
  
  #night-cloud {
    font-size: 15em;
  }

  #night-moon {
    font-size: 10em;
    color: #FFFFDD;
    margin-top: -0.1em;
    margin-left: -0.1em;
    filter: drop-shadow(0 0 0.2em #FFFFDD)
  }
  
  #night-cloud {
    font-size: 10em;
    color: #444444;
    margin-top: 0.2em;
    margin-left: -0.8em;
    filter: blur(8px);
  }

  #dawn-sun {
    position: fixed;
    bottom: -3.5em;
    right: 0;
    left: 0;
    font-size: 16em;
    color: rgb(250, 202, 43);
    filter: drop-shadow(0 0 0.1em rgb(241, 178, 83)) blur(0.2em);
  }

  #day-sun {
    position: fixed;
    top: -0.4em;
    left: -0.4em;
    font-size: 12em;
    color: rgb(238, 208, 110);
    filter: drop-shadow(0 0 0.5em rgb(235, 144, 7)) blur(0.1em);
  }
}

@media (min-width: 740px) {
  #night-title {
    font-size: 7em;
    color: #57606F;
    margin-bottom: 1em;
  }

  #dawn-title {
    font-size: 7em;
    color: rgb(161, 154, 142);
    margin-bottom: 1em;
  }

  .night-text {
    margin-top: 22em;
  }

  #night-moon {
    font-size: 15em;
    color: #FFFFDD;
    margin-top: -0.1em;
    margin-left: -0.1em;
    filter: drop-shadow(0 0 0.2em #FFFFDD)
  }
  
  #night-cloud {
    font-size: 15em;
    color: #444444;
    margin-top: 0.2em;
    margin-left: -0.8em;
    filter: blur(8px);
  }

  #dawn-sun {
    position: fixed;
    bottom: -2em;
    right: 0;
    left: 0;
    font-size: 30em;
    color: rgb(250, 202, 43);
    filter: drop-shadow(0 0 0.1em rgb(235, 144, 7)) blur(0.2em);
  }

  #day-sun {
    position: fixed;
    top: -0.4em;
    left: -0.4em;
    font-size: 20em;
    color: rgb(238, 208, 110);
    filter: drop-shadow(0 0 0.5em rgb(235, 144, 7)) blur(0.2em);
  }
}