.target-icon {
  margin: 0 0.1em;
}

.name-hoverable:hover {
  color: #222222;
}

.cabal-name-voteline {
  margin-left: 2em;
  margin-right: 0.5em;
}

.cabal-target-voteline {
  width: 100%;
  margin-left: 0.5em;
}