.cardslot {
    min-height: 14em;
    min-width: 12.8em;
    width: 12.8em;
    height: 14em;
    margin: 0 auto;
}

.empty-slot {
    border: 1px dashed white;
    width: 12.8em;
    height: 14em;
    margin: 0 auto;
    padding-top: 6em;
}

.card-selection-info {
    margin-top: 1em;
    margin-bottom: 1em;
}

#select-slider-button {
    right: 4em;
    position: fixed;
}