.playslot {
    box-shadow: 0 0 10px #7efff5;
    border-radius: 0.5em;
    width: 16em;
    height: 16em;
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 6.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.playslot-active {
    box-shadow: 0 0 20px #7efff5;
}

#play-slider-button {
    right: 4em;
    position: fixed;
}