.team-color-unknown {
    color: #DFE4EA;
}

.team-color-cabal {
    color: #ED4C67;
}

.team-color-citizen {
    color: #12CBC4;
}

.team-color-suspect {
    color: #706fd3;
}

.circle-online {
    color: #12CBC4;
}

.circle-offline {
    color: #7F8FA6;
}

.player-name-color {
    color: #DFE4EA;
}

.player-name-slider {
    width: 100%;
    margin-left: 2em;
}

.player-online-status {
    margin-right: 2em;
    margin-left: 0.6em;
}

.slider-button {
    position: fixed;
    right: -6em;
    margin-left: -3em;
    margin-top: 0.3em;
}

.close-slider-button {
    width: 10em;
}